{% extends 'home/base.html' %}
{% load staticfiles %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'messenger/style.css' %}">
{% endblock styles %}

{% block content %}
<div class="container">
    <br><br>
    
    <div class="row">
        <div class="col-sm-3 col-md-2">
            <a href={% url 'compose' %}class="btn btn-danger btn-sm btn-block" role="button"><i class="glyphicon glyphicon-edit"></i> Compose</a>
            <hr>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{% url 'inbox' %}"><span class="badge pull-right">{{ unread_mail }}</span> Inbox </a>
                </li>
                <li class="active"><a href={% url 'sent' %}>Sent Mail</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-md-10">
                        <div class="tab-content">
                <div class="tab-pane fade in active" id="home">
                    <div class="list-group">
                       
                        {{item.subject}}
                        <br>
                        {{item.body}}
                        
                        
                        
                      
                                
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}